@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>The current time is @DateTime.Now.ToShortTimeString()</p>
<p>@UserName</p>

<p>@DateTime.Now</p>
<p>@DateTime.IsLeapYear(2023)</p>

@code
{
    private string UserName = "追逐时光者";
}
